# 18650 Battery Models

## Aryan, Avery, Cormac, & Tyler

In [4]:
%pip install torch

Requirement already satisfied: torch in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (2.4.0)
Requirement already satisfied: filelock in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (3.15.4)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (1.13.1)
Requirement already satisfied: networkx in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (2024.6.1)
Requirement already satisfied: setuptools in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from torch) (71.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\tyler\appdata\local\programs\python\python312\lib\site-packages (from sympy->torch) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
#import torch
import pandas as pd
import numpy as np
import sklearn
from tqdm import tqdm

In [5]:
regular = pd.read_csv('.\\battery_alt_dataset\\regular_alt_batteries.csv')

C:\Users\tyler\AppData\Local\Temp\ipykernel_14540\1882604773.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  regular = pd.read_csv('.\\battery_alt_dataset\\regular_alt_batteries.csv')

In [17]:
def battLabeller(df):
    '''
    df - battery dataset
    feed battery dataset, add column to denote discharge phase
    '''
    label = 1
    df['dischargePhase'] = 0
    # for time in range(len(df['start_time'])-1):
    for time in tqdm(range(len(df['start_time'])-1), total=len(df['start_time'])-1):
        if df['mode'][time] == -1:
            df.at[time, 'dischargePhase'] = label
            if df['mode'][time+1] == 0 or df['mode'][time+1] == 1:
                label += 1
    return df

In [32]:
regular = regular[regular['mode'] != 0]
regular = regular[regular['mode'] != 1]

In [40]:
regular

,start_time,time,mode,voltage_charger,temperature_battery,voltage_load,current_load,temperature_mosfet,temperature_resistor,mission_type,dischargePhase,startTime,finishTime
324,2022-07-19 11:10:00,300.523,-1.0,8.340,22.963,-0.026,0.152000,22.64,23.20,0.0,1.0,0,0
325,2022-07-19 11:10:00,301.463,-1.0,8.041,23.155,8.329,2.523000,22.65,23.21,0.0,1.0,0,0
326,2022-07-19 11:10:00,302.404,-1.0,8.030,23.17,8.320,2.521000,22.66,23.20,0.0,1.0,0,0
327,2022-07-19 11:10:00,303.345,-1.0,8.023,23.186,8.312,2.523000,22.68,23.21,0.0,1.0,0,0
328,2022-07-19 11:10:00,304.288,-1.0,8.016,23.201,8.305,2.521000,22.71,23.21,0.0,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28357171,2022-10-16 12:55:00,1506502.662,-1.0,6.361,41.868,6.356,14.816191,31.22,27.72,1.0,4896.0,0,0
28357172,2022-10-16 12:55:00,1506503.726,-1.0,6.392,42.073,6.409,14.850649,31.24,27.77,1.0,4896.0,0,0
28357173,2022-10-16 12:55:00,1506504.785,-1.0,6.365,42.259,6.379,14.848449,31.28,27.81,1.0,4896.0,0,0
28357174,2022-10-16 12:55:00,1506505.841,-1.0,6.382,42.437,6.377,14.819122,31.31,27.86,1.0,4896.0,0,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [16]:
def timeFinder(df):
    '''
    df - dataframe
    takes dataframe and finds time from start of phase to end of phase
    '''
    df['startTime'] = 0
    df['finishTime'] = 0
    # for phase in df['dischargePhase'].unique():
    for phase in tqdm(df['dischargePhase'].unique(), total=df['dischargePhase'].unique()):
        currPhase = df[df['dischargePhase'] == phase]
        
        # Find start and end time
        print(phase)
        start = currPhase['time'].iloc[0] 
        finish = currPhase['time'].iloc[-1]
        
        # Update start and end time
        df.loc[df['dischargePhase'] == phase, 'startTime'] = start
        df.loc[df['dischargePhase'] == phase, 'finishTime'] = finish

In [46]:
regular[regular['dischargePhase'] == 4]

,start_time,time,mode,voltage_charger,temperature_battery,voltage_load,current_load,temperature_mosfet,temperature_resistor,mission_type,dischargePhase,startTime,finishTime
18434,2022-07-22 10:42:00,17623.174,-1.0,8.383,27.009,-0.026,0.550303,19.54,22.57,1.0,4.0,17623.174,18162.392
18435,2022-07-22 10:42:00,17624.251,-1.0,8.379,27.179,8.694,0.593648,19.54,22.56,1.0,4.0,17623.174,18162.392
18436,2022-07-22 10:42:00,17625.242,-1.0,7.448,27.203,7.455,16.291283,19.53,22.60,1.0,4.0,17623.174,18162.392
18437,2022-07-22 10:42:00,17626.230,-1.0,7.392,27.416,7.395,16.309729,19.61,22.61,1.0,4.0,17623.174,18162.392
18438,2022-07-22 10:42:00,17627.224,-1.0,7.350,27.76,7.361,16.300513,19.71,22.63,1.0,4.0,17623.174,18162.392
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18972,2022-07-22 10:42:00,18158.108,-1.0,5.168,96.902,5.125,16.237060,29.29,31.98,1.0,4.0,17623.174,18162.392
18973,2022-07-22 10:42:00,18159.148,-1.0,5.129,96.971,5.069,16.195385,29.25,31.97,1.0,4.0,17623.174,18162.392
18974,2022-07-22 10:42:00,18160.177,-1.0,5.079,97.022,5.031,16.204028,29.19,31.93,1.0,4.0,17623.174,18162.392
18975,2022-07-22 10:42:00,18161.355,-1.0,5.021,97.022,4.970,16.154918,29.13,31.92,1.0,4.0,17623.174,18162.392
18976,2022-07-22 10:42:00,18162.392,-1.0,4.967,97.005,4.916,16.130245,29.10,31.88,1.0,4.0,17623.174,18162.392

In [52]:
cols = ['voltage_charger','temperature_battery','current_load','dischargePhase','startTime','finishTime']
regular = regular[cols]
regular = regular.dropna(subset=['temperature_battery'])

In [6]:
def process_battery_data(df):
    '''
    Takes in df of battery data and reduces each phase
    to a single row, averaging temp, voltage, and current
    and finding the time to death for each discharge phase
    
    Parameters:
    df (dataFrame): input df of battery data sent through
    battLabeller and timeFinder
    
    Returns:
    df (transformed): averaged values and new column
    end_time which is the difference of finishTime and startTime
    '''
    # Get time_end via difference
    df['time_end'] = (df['finishTime'] - df['startTime'])
    
    # Cast columns to floats
    numeric_cols = ['voltage_charger','temperature_battery','current_load']
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col],errors = 'coerce')
    
    # Group by dischargePhase and aggregate other columns
    aggregated_df = df.groupby('dischargePhase').agg({
        'voltage_charger':'mean',
        'temperature_battery':'mean',
        'current_load':'mean',
        'time_end':'first'
    }).reset_index()
    
    return aggregated_df

In [61]:
regular = process_battery_data(regular)

In [62]:
regular

,dischargePhase,voltage_charger,temperature_battery,current_load,time_end
0,1.0,6.993291,25.916404,2.519990,3503.232
1,2.0,6.448755,64.757509,16.253802,538.454
2,3.0,6.474374,67.185977,16.246017,540.349
3,4.0,6.472878,67.642913,16.249888,539.218
4,5.0,6.353341,70.845676,17.602098,494.909
...,...,...,...,...,...
4891,4892.0,6.156449,62.168234,15.119306,477.210
4892,4893.0,6.148608,62.504518,15.121327,476.649
4893,4894.0,6.148097,62.199106,15.121059,475.834
4894,4895.0,6.163466,61.660934,15.120537,467.765
4895,4896.0,6.644561,35.041024,14.643963,85.920

In [63]:
regular.to_csv('regular.csv')

In [7]:
#recommissioned = pd.read_csv('.\\battery_alt_dataset\\recommissioned_batteries.csv')
#regular = pd.read_csv('.\\battery_alt_dataset\\regular_alt_batteries.csv')
second = pd.read_csv('.\\battery_alt_dataset\\second_life_batteries.csv')

In [13]:
def process_battery_data(df):
    '''
    Takes in df of battery data and reduces each phase
    to a single row, averaging temp, voltage, and current
    and finding the time to death for each discharge phase
    
    Parameters:
    df (dataFrame): input df of battery data sent through
    battLabeller and timeFinder
    
    Returns:
    df (transformed): averaged values and new column
    end_time which is the difference of finishTime and startTime
    '''
    # Run battery df through functions time_end via difference
    df = battLabeller(df)
    df = df[df['mode'] != 0]
    df = df[df['mode'] != 1]
    df = timeFinder(df)
    cols = ['voltage_charger','temperature_battery','current_load','dischargePhase','startTime','finishTime']
    df = df[cols]
    df = df.dropna(subset=['temperature_battery'])
    
    df['time_end'] = (df['finishTime'] - df['startTime'])
    
    # Cast columns to floats
    numeric_cols = ['voltage_charger','temperature_battery','current_load']
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col],errors = 'coerce')
    
    # Group by dischargePhase and aggregate other columns
    aggregated_df = df.groupby('dischargePhase').agg({
        'voltage_charger':'mean',
        'temperature_battery':'mean',
        'current_load':'mean',
        'time_end':'first'
    }).reset_index()
    aggregated_df['mode'] = 1
    
    return aggregated_df

In [14]:
second = process_battery_data(second)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

C:\Users\tyler\AppData\Local\Temp\ipykernel_12716\3167601340.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '600.096' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['dischargePhase'] == phase, 'startTime'] = start
C:\Users\tyler\AppData\Local\Temp\ipykernel_12716\3167601340.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3205.154' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['dischargePhase'] == phase, 'finishTime'] = finish

19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405

TypeError: 'NoneType' object is not subscriptable

In [ ]:
second.to_csv('second.csv')